.graph-settings {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 24px;

  @media (min-width: 600px) {
    flex-direction: row;
    gap: 15px;
  }

  &__select {
    min-width: 150px;
    margin-bottom: 12px;
  }
}
