.graph-settings {
  width: 100%;
  text-align: left;
  display: flex;
  padding: 24px;

  &__select {
    max-width: 174px;
    flex-grow: 1;

    &:first-child {
      margin-right: 12px;
    }
  }
}
